.contact-header {
    height: 50vh;
    background-image: url(../assets/contact-image.jpg);
    background-attachment: fixed;
    background-size: contain;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    
}

main{

    background: $mauve;
    position: relative;

    .wrapper {
        display: grid;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 75px;
    }

    form {
        background: $white;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-template-rows:20px 150px 50px;
        row-gap: 35px;
        padding: 50px;
        box-shadow: -40px 40px $orange;
    }

    input#name,
    input[type="email"] {
        border: 0;
        border-bottom: 2px solid $orange;
        padding: 15px;
    }

    input#name {
        grid-row-start: 1;
        margin-right: 15px;
    }

    textarea {
        grid-column: span 2;
        border: 2px solid $orange;
        padding: 15px;
    }
    
    button[type="submit"]{
        grid-row-start: 3;
        grid-column: span 2;
        width: 100%;
        background: $brownRed;
        border: 0;
        color: $white;
        text-transform: uppercase;
        padding: 15px;
    }
    
    .main-form{
        width: 50%;
        position: absolute;
        top: -200px;
        right: 75px;
    }

    .contact-info {
        width: 400px;

        h3 {
            color: $purple;
            font-size: 3rem;
        }
    }

}

//SOCIAL MEDIA 

.social-media ul {
    display: flex;
    list-style-type: none;
    padding:0;


    li {
        padding: 5px;
    }
    
    li:first-child {
        padding-left: 0;
    }
    
    a {
        color: $purple;
    }
}

 /* Extra small devices (phones, 600px and down) */
 @mixin mq-small-phones {

     @media only screen and (max-width: 600px) {
         @content;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin mq-large-phones {

    @media only screen and (min-width: 600px) {
        @content;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@mixin mq-tablets {
    form {
        padding: 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin mq-desktops{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@mixin mq-large-desktops {

}