// HEADER STYLES

.home-header {
    height: 95vh;
    background-image: url(../../../assets/header-image.jpg);
    background-size: cover;
    position:relative;

    img {
        position:absolute;
        bottom:-190px;
        right:0;
        width:46%;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        height:57vh;
        justify-content: space-between;
    }

    h2 {
        color: $purple;
        font-family: $header-font;
        font-size: 11rem;
        line-height:6.4rem;
        width: 500px;
    }

}

header {

    nav {

        font-size: 2rem;
        font-family: $body-font;
        text-transform: uppercase;
        
        ul {
            display:flex;
            margin:0;
            padding:0;
            list-style-type: none;
            width: 350px;
            justify-content: space-around;
            padding-top:45px; //same as logo
            
            li {

                padding:5px;

                a {
                    color:$black;
                    text-decoration: none;
                }
            }

            li:first-child {
                background: $purple;
                
                a {
                    color: $white;
                }
                // padding:5px;
            }
            
        }
    }
}

// WHAT IS UNDER THE SEA *text only*

.text-only {
    background-color: $mauve;
    text-align: center;
    height:75vh;
    display:flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        font-family: $header-font;
        font-size: 5.2rem;
        letter-spacing: 1.2px;
    }

    button {
        background-color: $purple;
        border:none;
        color: $white;
        padding: 5px;
        margin: 15px;
    }
}

//TEXT AND IMAGE SECTION

.text-and-image {
    margin: 50px 0;
    display:flex;
    justify-content: space-between;

    .image,
    .text {
        width: 35%;
    }
}

// EXTRA INFO SECTION

.extra-info {
    background: $mauve;
    height: 84vh;
    padding:25px 0;
    
    .wrapper {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        align-content:space-around;
        height: 75vh;
    }

    h3{
        font-size: 5.2rem;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
}

.locations,
.community,
.blog,
.get-in-touch {
    width: calc(80% / 2);
}

//IMAGE ONLY SECTION

.image-only {
    height: 50vh;

    img {
        width: 100%;
    }
}