//HEADER

.blog-header {
    height: 60vh;
    background-image: url(../assets/blog-header.jpg);
}

//GENERAL

.blog {
    
    display:flex;
    flex-direction: row-reverse;
    background: $mauve;
    position: relative;
    
    .page-header{
        position: absolute;
        top: -225px;
    }
    
    
    .main-image{

        box-shadow: -30px 30px $orange;
        position: absolute;
        top: -125px;

        img {
            display: block;
        }
    }

    .blog-article {
        background: $white;
        padding:30px;
        
        .blog-text {
            padding-top: 390px;
        }
        
        p {
            margin: 10px 0;
        }
    }
    
    .blog-post {
        width: 65%;
    }

    aside {
        width: 35%;
    }

}

// COMMENTS

.comments {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    .comment {
        display: flex;
        padding: 30px 0;

        .display-pic {
           padding: 0 30px;
           width: 25%;
        }

        .text {
            width: 75%;
        }
    }
}

// ASIDE

aside {
    height: 700px;
    margin-top: 65px;
    padding-right: 65px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap:0px;
    position: relative;
}

.aside-title {
    color: $purple;
}

.aside-text {
    padding-top: 210px;
    background: $white;
    padding-left:0;
}

.aside-one {
    padding-bottom: 20px;
}

.aside-image {
    position: absolute;
    top:-100px;

    img {
        display:block;
        width: 350px;
    }

}

//FORM 

.comment-form {
    margin-bottom: 100px;

    form {
        background: $mauve;
        box-shadow: none;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-template-rows:20px 150px 50px;
        row-gap: 35px;
        padding: 50px;

    }

    input[type="text"],
    input[type="email"] {
        border: 0;
        border-bottom: 2px solid $orange;
        padding: 15px;
    }

    input[type="text"]{
        grid-row-start: 1;
        margin-right: 15px;
    }

    textarea {
        grid-column: span 2;
        border: 2px solid $orange;
        padding: 15px;
    }
    
    button[type="submit"]{
        grid-row-start: 3;
        grid-column: span 2;
        width: 100%;
        background: $brownRed;
        border: 0;
        color: $white;
        text-transform: uppercase;
        padding: 15px;
    }

    input#name,
    input[type="email"],
    textarea {
        background: $mauve;
    }

    button[type="submit"] {
        background: $purple;
    }
}

//MEDIA QUERIES
@media (max-width: 1050px) {
    
    .blog {
        .blog-article {
            .blog-text {
                padding-top:315px;
            }
        }
    }

    .aside-image {
        img {
            width: 300px;
        }
    }
}

@media(max-width:950px) {

    .blog-header {
        background-size: cover;
    }

    .blog {
        .main-image {
            box-shadow: none;
            position: static;
        }
        .blog-article {
            .blog-text {
                padding-top: 15px;
            }
        }

        .page-header {
            right:0;
            left:0;
        }
    }

    aside {
        margin-top: 0;
        height: 500px;

        .aside-text {
            padding-top:20px;
        }
    }

    .aside-image {
        position: static;
    }
}

@media (max-width:860px) {

    .blog {
        flex-direction: column;

        aside {
            margin-top: 50px;
            order: 1;
            display: flex;
            height: auto;
            width: 100%;
            padding-right: 0;
            
            .aside-text {
                display: flex;
                padding-left: 15px;
            }
        }
    }

    .blog .blog-post,
    .blog .aside {
        width: 80%;
        margin: 0 auto;
    }

    .blog .blog-post {
        order:2;
    }
    
    .blog .blog-article {
        margin-top: 50px;
    }

    .comments .comment .display-pic {
        width: 50%;
    }

}

@media(max-width:725px) {
    .blog {
        aside {
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
        }
        
        .aside-image {
            margin: 0 auto;
            margin-bottom: 50px;
            box-shadow: 25px 25px $orange;
        }
    }
}

@media(max-width:620px) {
    
    .aside-text {
        flex-direction: column;
    }

    .aside-one {
        border-bottom: 2px solid $orange;
    }

    .aside-two {
        padding-top: 25px;
    }

    .aside-image img {
        width: 250px;
    }

    .comments .comment .display-pic {
        display: none;
    }

    .comment-form {

        form {
            grid-template-rows:20px 20px 150px 50px;
            grid-template-columns: 1fr;
            grid-auto-columns: none;
        }

        input[type="text"] {
            margin-right:0;
            width: 100%;
            grid-column: span 2;
            padding: 15px 0;
        }
        
        input[type="email"] {
            grid-row-start: 2;
            grid-column: span 2;
            padding: 15px 0;
            width: 100%;

            ::placeholder {
                padding: 10px;
            }
        }

        textarea {
            grid-row-start: 3;
        }

        button[type="submit"] {
            grid-row-start: 4;
        }
    }

    
}