//HEADER


.blog-header {
    height: 60vh;
    background-image: url(../assets/blog-header.jpg);
}

//GENERAL

.blog {
    display:flex;
    flex-direction: row-reverse;
    background: $mauve;
    position: relative;
    
    .page-header{
        position: absolute;
        top: -225px;
    }
    
    
    .main-image{
        box-shadow: -30px 30px $orange;
        position: absolute;
        top: -125px;

        img {
            display: block;
        }
    }

    .blog-article {
        background: $white;
        padding:30px;
        
        .blog-text {
            padding-top: 390px;
        }
        
        p {
            margin: 10px 0;
        }
    }
    

    .blog-post {
        width: 65%;
    }

    aside {
        width: 35%;
    }

}

// COMMENTS

.comments {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    .comment {
        display: flex;
        padding: 30px 0;

        .display-pic {
           padding: 0 30px;
           width: 25%;
        }

        .text {
            width: 75%;
        }
    }
}

// ASIDE

aside {
    height: 700px;
    margin-top: 65px;
    padding-right: 65px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap:0px;
    position: relative;
}

.aside-title {
    color: $purple;
}

.aside-text {
    padding-top: 210px;
    background: $white;
    padding-left:0;
}

.aside-image {
    position: absolute;
    top:-100px;

    img {
        display:block;
        width: 350px;
    }

}

//FORM 

.comment-form {
    margin-bottom: 100px;

    form {
        background: $mauve;
        box-shadow: none;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-template-rows:20px 150px 50px;
        row-gap: 35px;
        padding: 50px;

    }

    input#name,
    input[type="email"] {
        border: 0;
        border-bottom: 2px solid $orange;
        padding: 15px;
    }

    input#name {
        grid-row-start: 1;
        margin-right: 15px;
    }

    textarea {
        grid-column: span 2;
        border: 2px solid $orange;
        padding: 15px;
    }
    
    button[type="submit"]{
        grid-row-start: 3;
        grid-column: span 2;
        width: 100%;
        background: $brownRed;
        border: 0;
        color: $white;
        text-transform: uppercase;
        padding: 15px;
    }

    input#name,
    input[type="email"],
    textarea {
        background: $mauve;
    }

    button[type="submit"] {
        background: $purple;
    }
}
//MEDIA QUERIES

@media (max-width: 1050px) {
    
    .blog {
        .blog-article {
            .blog-title {
                margin-top:0;
            }
        }
    }
}