.contact-header {
    height: 50vh;
    background-image: url(../assets/contact-image.jpg);
}

.contact {

    background: $mauve;
    position: relative;

    .wrapper {
        display: grid;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 75px;
    }

    form {
        background: $white;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-template-rows:20px 150px 50px;
        row-gap: 35px;
        padding: 50px;
        box-shadow: -40px 40px $orange;
    }

    input#name,
    input[type="email"] {
        border: 0;
        border-bottom: 2px solid $orange;
        padding: 15px;
    }

    input#name {
        grid-row-start: 1;
        margin-right: 15px;
    }

    textarea {
        grid-column: span 2;
        border: 2px solid $orange;
        padding: 15px;
    }
    
    button[type="submit"]{
        grid-row-start: 3;
        grid-column: span 2;
        width: 100%;
        background: $brownRed;
        border: 0;
        color: $white;
        text-transform: uppercase;
        padding: 15px;
    }
    
    .main-form{
        width: 50%;
        position: absolute;
        top: -200px;
        right: 75px;
    }

}

//SOCIAL MEDIA 

.social-media ul {
    display: flex;
    list-style-type: none;
    padding:0;


    li {
        padding: 5px;
    }
    
    li:first-child {
        padding-left: 0;
    }
    
    a {
        color: $purple;
    }
}

