.contact-header {
    height: 50vh;
    background-image: url(../assets/contact-image.jpg);
    background-size: contain;
}

.contact {

    background: $mauve;
    position: relative;

    .wrapper {
        padding: 75px;
    }

    form {
        background: $white;
        display: grid;
        grid-auto-columns: repeat(2, 1fr);
        grid-template-rows:20px 150px 50px;
        row-gap: 35px;
        padding: 50px;
        box-shadow: -40px 40px $orange;
    }

    input[type="text"],
    input[type="email"] {
        border: 0;
        border-bottom: 2px solid $orange;
        padding: 15px;
    }

    input[type="text"]{
        grid-row-start: 1;
        margin-right: 15px;
    }

    textarea {
        grid-column: span 2;
        border: 2px solid $orange;
        padding: 15px;
    }
    
    button[type="submit"]{
        grid-row-start: 3;
        grid-column: span 2;
        width: 100%;
        background: $brownRed;
        border: 0;
        color: $white;
        text-transform: uppercase;
        padding: 15px;
    }
    
    .main-form{
        width: 50%;
        position: absolute;
        top: -200px;
        right: 75px;
    }

}

//SOCIAL MEDIA 

.social-media ul {
    display: flex;
    list-style-type: none;
    padding:0;

    li {
        padding: 5px;
    }
    
    li:first-child {
        padding-left: 0;
    }
    
    a {
        color: $purple;
    }
}

//MEDIA QUERIES

@media (max-width: 1060px){

    .contact-header {
        background-size: cover;
    }
    .contact {
        
        .wrapper {
            display: flex;
            flex-direction: column;
            padding: 15px 75px;
        }

        .main-form{
            width: 100%;
            position: static;
            height: 80vh;
        }

        form {
            box-shadow: 0 -40px $orange;
        }
    }

    .contact-info {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        margin-top:150px;
    }
    
}

@media (max-width: 770px) {
    
    .contact {
        .wrapper {
            padding: 50px;
        }
        form {
            grid-template-rows:20px 20px 150px 50px;
        }

        input#name {
            margin-right: 0;
        }

        input[type="email"] {
            grid-row-start: 2;
        }

        input[type="text"],
        input[type="email"] {
            grid-column: span 2;
            padding: 0;

            ::placeholder {
                padding: 10px;
            }
        }

        textarea {
            grid-row-start: 3;
        }
    
        button[type="submit"]{
            grid-row-start: 4;
        }
    }

    .contact-info {
        margin-top: 200px;
    }
}

@media(max-width:600px) {
    .contact-info {
        margin-top: 200px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-header {
        height: 30vh;
    }
}

@media(max-width:480px) {
    .contact-info {
        margin-top: 200px;
    }

    .contact form {
        padding: 25px;
    }

    .contact .wrapper {
        width: 90%;
        padding: 25px;
    }
}