article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
  line-height: 2.8rem;
}

.logo {
  font-family: "Pompiere", cursive;
  font-size: 3.58rem;
  line-height: 3.6rem;
  letter-spacing: 1.1px;
  width: 40px;
  padding-top: 45px;
  text-transform: none;
}

.home-header {
  height: 95vh;
  background-image: url(../assets/header-image.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.home-header img {
  position: absolute;
  bottom: -190px;
  right: 0;
  width: 46%;
}

.home-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 57vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header h2 {
  color: #4C0341;
  font-family: "Pompiere", cursive;
  font-size: 11rem;
  line-height: 6.4rem;
  width: 500px;
  text-transform: none;
}

.home-header nav li:first-child {
  background: #4C0341;
}

.home-header nav li:first-child a {
  color: #FFFFFF;
}

header nav {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 350px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 45px;
}

header nav ul li {
  padding: 5px;
}

header nav ul li a {
  color: #0D0D0D;
  text-decoration: none;
}

.text-only {
  background-color: #FAE5FF;
  text-align: center;
  padding: 165px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-only h3 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 1.2px;
}

.text-only button {
  background-color: #4C0341;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  margin: 15px;
  text-transform: uppercase;
}

.text-and-image {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.text-and-image .text {
  width: 40%;
}

.text-and-image .text-one {
  margin-right: 75px;
}

.text-and-image .text-two {
  margin-left: 75px;
}

.text-and-image .image {
  width: 40%;
}

.text-and-image img {
  display: block;
}

.text-and-image .image-one {
  -webkit-box-shadow: 30px 30px #FE6F19;
          box-shadow: 30px 30px #FE6F19;
}

.text-and-image .image-two {
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
}

.text-and-image .text:first-child {
  text-align: right;
}

.text-and-image .title {
  font-size: 4.2rem;
  letter-spacing: 1.3px;
}

.extra-info {
  background: #FAE5FF;
  height: 84vh;
  padding: 25px 0;
}

.extra-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 75vh;
}

.extra-info h3 {
  font-size: 5.2rem;
  letter-spacing: 1.6px;
}

.extra-info i {
  background: #4C0341;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}

.locations,
.community,
.blog-link,
.get-in-touch {
  width: calc(80% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-only {
  height: auto;
}

.image-only img {
  width: 100%;
}

.text-image-only {
  background-color: #FFFFFF;
  padding: 100px 0;
}

.text-image-only img {
  width: 300px;
  position: relative;
  z-index: 2;
}

.text-image-only .image {
  position: relative;
}

.text-image-only .image::after {
  content: '';
  width: 300px;
  height: 300px;
  background-color: #FE6F19;
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
}

.text-image-only .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text-image-only .image,
.text-image-only .text {
  width: 50%;
}

.text-image-only .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-image-only .title {
  font-size: 5.2rem;
  letter-spacing: 1.2px;
}

.text-image-only button {
  background-color: #882C07;
  border: none;
  color: #FFFFFF;
  padding: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  width: 180px;
}

.image-gallery {
  background: #FAE5FF;
}

.image-gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-gallery img {
  padding: 50px 25px;
}

footer {
  background: #882C07;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}

.blog-header {
  height: 60vh;
  background-image: url(../assets/blog-header.jpg);
  background-attachment: fixed;
  background-size: contain;
  position: relative;
}

.blog-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-header nav li:nth-child(3) {
  background: #4C0341;
}

.blog-header nav li:nth-child(3) a {
  color: #FFFFFF;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #FAE5FF;
  position: relative;
}

.blog .page-header {
  font-size: 8.0rem;
  line-height: 9.2rem;
  color: #4C0341;
  position: absolute;
  top: -225px;
}

.blog .main-image {
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
  position: absolute;
  top: -125px;
}

.blog .main-image img {
  display: block;
}

.blog .blog-article {
  background: #FFFFFF;
  padding: 30px;
}

.blog .blog-article .blog-title {
  margin-top: 50px;
  color: #4C0341;
  font-size: 3rem;
}

.blog .blog-article .blog-stats {
  margin-bottom: 25px;
  font-weight: bold;
}

.blog .blog-article p {
  margin: 10px 0;
}

.blog .blog-post {
  width: 65%;
}

.blog aside {
  width: 35%;
}

.comments {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.comments .comment .display-pic {
  padding: 0 30px;
  width: 25%;
}

.comments .comment .text {
  width: 75%;
}

aside {
  margin-top: 65px;
  padding-right: 65px;
}

.aside-text {
  margin: 50px 70px;
}
