/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Pompiere", cursive;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
  line-height: 2.8rem;
}

.home-header h2 {
  color: #4C0341;
  font-family: "Pompiere", cursive;
  font-size: 11rem;
  line-height: 6.4rem;
  width: 500px;
  text-transform: none;
}

header nav {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.text-only h3 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 1.2px;
}

.text-and-images .title {
  font-size: 4.2rem;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}

.extra-info h3 {
  font-size: 5.2rem;
  letter-spacing: 1.6px;
}

.text-image-only .title {
  font-size: 5.2rem;
  letter-spacing: 1.2px;
}

.page-header {
  font-size: 8.0rem;
  line-height: 9.2rem;
  color: #4C0341;
}

.blog-article .blog-title {
  margin-top: 50px;
  color: #4C0341;
  font-size: 3rem;
}

.blog-article .blog-stats {
  margin-bottom: 25px;
  font-weight: bold;
}

.aside-title {
  color: #4C0341;
}

.text-only button {
  background-color: #4C0341;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  margin: 15px;
  text-transform: uppercase;
}

.text-and-images .read-more {
  width: 125px;
  margin: 25px 0;
  background: #882C07;
  border: none;
  padding: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.text-and-images .read-more .right-align {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.text-image-only button {
  background-color: #882C07;
  border: none;
  color: #FFFFFF;
  padding: 20px;
  text-transform: uppercase;
}

.logo {
  font-family: "Pompiere", cursive;
  font-size: 3.58rem;
  line-height: 3.6rem;
  letter-spacing: 1.1px;
  width: 40px;
  padding-top: 45px;
  text-transform: none;
}

.home-header {
  background-attachment: fixed;
  background-size: cover;
}

.home-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-header {
  background-attachment: fixed;
  background-size: contain;
}

.blog-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-header {
  background-attachment: fixed;
  background-size: contain;
}

.contact-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .current {
  background: #4C0341;
  color: #FFFFFF;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 350px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 45px;
}

header nav ul li {
  padding: 5px;
}

header nav ul li a {
  color: #0D0D0D;
  text-decoration: none;
}

footer {
  background: #882C07;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}

.home-header {
  height: 95vh;
  background-image: url(../assets/header-image.jpg);
  position: relative;
}

.home-header img {
  position: absolute;
  bottom: -190px;
  right: 0;
  width: 46%;
  z-index: 1;
}

.home-header .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 57vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-only {
  background-color: #FAE5FF;
  text-align: center;
  padding: 165px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-and-images {
  background: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  row-gap: 200px;
  position: relative;
}

.text-and-images .text-one,
.text-and-images .text-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-and-images .text-one {
  padding-top: 50px;
  margin-right: 65px;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.text-and-images .text-two {
  text-align: right;
  margin-left: 65px;
}

.text-and-images .image-one {
  -webkit-box-shadow: 50px 50px #FE6F19;
          box-shadow: 50px 50px #FE6F19;
  position: absolute;
  top: -50px;
}

.text-and-images .image-two {
  -webkit-box-shadow: -50px 50px #FE6F19;
          box-shadow: -50px 50px #FE6F19;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.text-and-images img {
  display: block;
}

.extra-info {
  background: #FAE5FF;
  height: 84vh;
  padding: 75px 0;
}

.extra-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 75vh;
}

.extra-info i {
  background: #4C0341;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
}

.locations,
.community,
.blog-link,
.get-in-touch {
  width: calc(80% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-only {
  height: auto;
}

.image-only img {
  width: 100%;
}

.text-image-only {
  background-color: #FFFFFF;
}

.text-image-only .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-auto-columns: 1fr 2fr;
  row-gap: 2rem;
  -webkit-column-gap: 7rem;
          column-gap: 7rem;
}

.text-image-only .wrapper img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -webkit-box-shadow: 30px 30px #FE6F19;
          box-shadow: 30px 30px #FE6F19;
  width: 300px;
}

.text-image-only .wrapper .title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.text-image-only .wrapper p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.text-image-only .wrapper button {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-align: start;
      justify-self: start;
}

.image-gallery {
  background: #FAE5FF;
}

.image-gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-gallery img {
  padding: 50px 25px;
}

.contact-header {
  height: 50vh;
  background-image: url(../assets/contact-image.jpg);
}

.contact {
  background: #FAE5FF;
  position: relative;
}

.contact .wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px;
}

.contact form {
  background: #FFFFFF;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  -ms-grid-rows: 20px 150px 50px;
      grid-template-rows: 20px 150px 50px;
  row-gap: 35px;
  padding: 50px;
  -webkit-box-shadow: -40px 40px #FE6F19;
          box-shadow: -40px 40px #FE6F19;
}

.contact input#name,
.contact input[type="email"] {
  border: 0;
  border-bottom: 2px solid #FE6F19;
  padding: 15px;
}

.contact input#name {
  -ms-grid-row: 1;
      grid-row-start: 1;
  margin-right: 15px;
}

.contact textarea {
  grid-column: span 2;
  border: 2px solid #FE6F19;
  padding: 15px;
}

.contact button[type="submit"] {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-column: span 2;
  width: 100%;
  background: #882C07;
  border: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 15px;
}

.contact .main-form {
  width: 50%;
  position: absolute;
  top: -200px;
  right: 75px;
}

.contact .contact-info {
  width: 400px;
}

.contact .contact-info h3 {
  color: #4C0341;
  font-size: 3rem;
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.social-media ul li {
  padding: 5px;
}

.social-media ul li:first-child {
  padding-left: 0;
}

.social-media ul a {
  color: #4C0341;
}

.blog-header {
  height: 60vh;
  background-image: url(../assets/blog-header.jpg);
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #FAE5FF;
  position: relative;
}

.blog .page-header {
  position: absolute;
  top: -225px;
}

.blog .main-image {
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
  position: absolute;
  top: -125px;
}

.blog .main-image img {
  display: block;
}

.blog .blog-article {
  background: #FFFFFF;
  padding: 30px;
}

.blog .blog-article .blog-text {
  padding-top: 425px;
}

.blog .blog-article p {
  margin: 10px 0;
}

.blog .blog-post {
  width: 65%;
}

.blog aside {
  width: 35%;
}

.comments {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.comments .comment .display-pic {
  padding: 0 30px;
  width: 25%;
}

.comments .comment .text {
  width: 75%;
}

aside {
  height: 700px;
  margin-top: 65px;
  padding-right: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px;
  gap: 0px;
  position: relative;
}

.aside-title {
  color: #4C0341;
}

.aside-text {
  background: #FFFFFF;
  padding: 0 50px;
}

.aside-image {
  position: absolute;
  top: -100px;
}

.aside-image img {
  display: block;
  width: 350px;
}

.aside-one {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.aside-two {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.comment-form {
  margin-bottom: 100px;
}

.comment-form form {
  background: #FAE5FF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.comment-form input#name,
.comment-form input[type="email"],
.comment-form textarea {
  background: #FAE5FF;
}

.comment-form button[type="submit"] {
  background: #4C0341;
}
